body{
   background-color: grey;
}

h1 {
   color: wheat;
   padding: 10px;
}

.login {
   padding-left: 850px;
}

a {
   text-decoration: none;
   color: wheat;
}

.logo{
   background-image: url(/Img/pngwing.com.png);
   display: flex;
   padding: 100px;
   background-size: 1600px 100%;
   background-repeat: no-repeat;
}

.menu a {
   text-decoration: none;
   color: #111;
   font-size: 1rem;
   padding: 10px;
}

.redes a {
   font-size: 1.4rem;
   padding: 1rem;
   border-radius: 6px;
   text-decoration: none;
   color: #111;
   text-align: center;
   background-color: white;
   margin: 11rem;
}

.redes a:hover {
   filter: drop-shadow(0 0 0.5rem #5f27f8);
   color: #5f27f8;
}

.social {
   max-width: 19px;
   margin: -2px;
}

.imagem {
   max-width: 40%;
   border-radius: 90px;
   padding: 60px;
   grid-template-columns: 1fr 1fr;
}

.menu-itens {
   border: solid 2px black;
   padding: 10px;
   border-radius: 6px;
   margin: 10px;
}

.menu-itens:hover {
   border: solid 2px white;
   border-radius: 6px;
}

.localizacao {
   text-decoration: none;
   color: black;
   margin: 600px;
   font-size: 1.8rem;
}

.localizacao:hover {
   filter: drop-shadow(0 0 0.5rem #5f27f8);
   color: #5f27f8;
}

.loc {
   width: 1.6rem;
}